{% extends 'equipment_inventory/base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-none"></div>
    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="site-detail col-sm-12">
                    <header>
                        <div class="page-title grid" style="grid-template-columns: auto auto;">
                            <span>
                                {% block detail-title %}{% endblock %}
                            </span>
                        </div>
                        {% include 'includes/messages.template.html' with messages=messages %}
                        {% block header_buttons_toolbar %}
                        {% endblock %}
                    </header>

                    <div class="row">
                        {% block detail_main_section %}
                        {% endblock %}
                    </div>
                    {% block extra_content %}
                    {% endblock %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
