{% extends 'equipment_inventory/base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'equipment_inventory/css/home.css' %}">
{% endblock %}


{% block home_page_banner %}
    <div id="banner">
        <div class="parallax-window" data-parallax="scroll" {% if user.is_authenticated %}style="height: 400px;"{% endif %} data-image-src="" id="banner-image-container">
            <div class="legend-container" {% if user.is_authenticated %}style="height: 400px;"{% endif %}>
                <div class="row logos-row">
                    <div class="col-12 col-sm-6 offset-sm-3" id="waterfall">
                        <img class="img-fluid" src="{% static "equipment_inventory/img/waterfall_banner.jpg" %}" alt="Waterfall Banner">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid content-section">
        <div class="container" id="how-it-works-section">
            <div class="banner-legend">
                    <h2 class="text-center">ODM2 Equipment Manager</h2>
                    <p class="text-left">This equipment management web application provides access to and recording of information
                        on equipment inventory and related actions. It is based on the Equipment Extension of Version 2 of the
                        <a href="http://github.com/odm2/odm2" data-toggle="tooltip" title="github.com/odm2/odm2">Observations Data Model (ODM2).</a>
                        This interface is designed for monitoring networks using in site sensors to manage physical infrastructure and link it to observational data.
                    </p>
                <div><h3 class = "text-center">Sponsors</h3></div>
                <div><p class ="text-center">This project is receiving or has received support from a number of agencies and complementary efforts including:</p></div>

                <div class="sponsors">
                    <a href="http://www.iutahepscor.org">
                        <img alt="iUTAH website" data-toggle="tooltip" title="iutahepscor.org" src="{% static "equipment_inventory/img/iutah_home_logo.png" %}" height="150" vspace="50" hspace="50"></a>
                    <a href="http://www.nsf.gov">
                        <img alt = "National Science Foundation website" data-toggle="tooltip" title="nsf.gov" src="{% static "equipment_inventory/img/nsf_logo.jpg" %}" height="150" hspace="50"></a>
                </div>
                    {% if not user.is_authenticated %}

                    {% endif %}
                </div>

        </div>
    </div>
{% endblock %}