{% extends 'equipment_inventory/base.html' %}
{% load static %}
{% load template_tags %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'equipment_inventory/css/home.css' %}">
{% endblock %}


{% block home_page_banner %}
    <div id="banner">
        <div class="parallax-window" data-parallax="scroll" {% if user.is_authenticated %}style="height: 400px;"{% endif %} data-image-src="" id="banner-image-container">
            <div class="legend-container" {% if user.is_authenticated %}style="height: 400px;"{% endif %}>
                <div class="row logos-row">
                    <div class="col-6 col-sm-3 offset-sm-3">
                        <img class="img-fluid" src="{% static "equipment_inventory/img/iutah_home_logo.png" %}" alt="iUtah Home Logo">
                    </div>
                </div>
                <div class="banner-legend text-center">
                    <h2 class="text-center">NOT THE Data Sharing Portal </h2>
                    <h4 class="text-center" style="text-decoration: line-through">Contribute your water quality data</h4>
                    <h4 class="text-center">Manage your odm2 equipment!</h4>

                    {% if not user.is_authenticated %}
                        <h4 class="text-center">Ready to start <span style="text-decoration: line-through">sharing your data?</span><span style="font-weight: 400">managing your equipment?</span></h4>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid content-section">
        <div class="container shadow" id="how-it-works-section">
            <div class="row">
                <section class="col-sm-12">
                    <div class="text-center section-title">How it works (the equipment management, obviously.)</div>
                    <p class="lead text-center" style="text-decoration: line-through">The WikiWatershed Data Portal supports multiple types of water quality data.</p>
                    <p class="lead text-center">What do you know?! It just does!</p>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-2 col-8 offset-2">
                            <br><br>
                        </div>
                    </div>

                    <br><br><br>
                </section>
            </div>
        </div>
    </div>
{% endblock %}