{% extends 'equipment_inventory/base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'equipment_inventory/css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-none"></div>
    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <section class="item-list col-sm-12">
                    <header>
                        <div class="page-title grid" style="grid-template-columns: auto auto;">
                            <span>
                                {% block list-title %}{% endblock %}
                            </span>
                        </div>

                        {% block header-actions %}{% endblock %}

                        {% include 'includes/messages.template.html' with messages=messages %}
                    </header>

                    <div class="row">
                        <div class="list-container col-sm-12 col-md-6">
                            <table class="mdl-data-table  mdl-shadow--2dp full-width">
                                <thead>
                                <tr>
                                    {% block table-headers %}{% endblock %}
                                </tr>
                                </thead>
                                <tbody>
                                    {% block table-rows %}{% endblock %}

                                    {% block table-pagination %}
                                    <tr>
                                        <td colspan="5" class="mdl-data-table__cell--no-hover">
                                            <span class="step-links">
                                            {% if actions.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ actions.previous_page_number }}">previous</a>
                                            {% endif %}

                                            <span class="current">
                                                Page {{ actions.number }} of {{ actions.paginator.num_pages }}
                                            </span>

                                            {% if actions.has_next %}
                                                <a href="?page={{ actions.next_page_number }}">next</a>
                                                <a href="?page={{ actions.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                {% endblock %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}