<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 side-table-details">
    <table>
        {% for equipment in equipments %}
            <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover">
                <tr>
                    <th>Equipment Serial Number</th>
                    <td>
                        <a href="">
                            {{ equipment.equipment_serial_number }}</a>
                    </td>
                    <th>Equipment Name</th>
                    <td>{{ equipment.equipment_name }}</td>
                    <th>Equipment Model Name</th>
                    <td>
                        <a href="">
                            {{ equipment.equipment_model.model_name }}</a>
                    </td>
                    <th>Equipment Owner</th>
                    <td>
                        <a href="">
                            {{ equipment.equipment_owner.person_first_name }} {{ equipment.equipment_owner.person_last_name }}</a>
                    </td>
                    <th>Purchase Date</th>
                    <td>{{ equipment.equipment_purchase_date }}</td>
                </tr>
                <tr>
                    <th>Equipment Code</th>
                    <td>{{ equipment.equipment_code }}</td>
                    <th>Equipment Type</th>
                    <td>{{ equipment.equipment_type }}</td>
                    <th>Equipment Manufacturer</th>
                    <td>{{ equipment.equipment_model.model_manufacturer.organization_name }}</td>
                    <th>Equipment Description</th>
                    <td>{{ equipment.equipment_description }}</td>
                    <th>Link</th>
                    <td>{{ equipment.equipment_documentation_link }}</td>
                </tr>
            </table>
        {% endfor %}
    </table>

</div>