html {
    height: 100%;
}

html > body {
    height: calc(100% - 141px);
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    background: #e8e8e8;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 767px) {
    #table-macro-extra tr:first-child {
        display: none;
    }

    #table-macro-extra {
        top: -1px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav > li > a {
        line-height: 35px !important;
        height: initial;
    }
}

@media (max-width: 576px) {
    .buttons-toolbar.button-link, .buttons-toolbar form, .buttons-toolbar button {
        width: 100%;
    }

    .fullwidth-sm {
        width: 100%;
    }
}

/*ICON COLORS*/
.icon-blue {
    color: rgb(31, 119, 180);
}

.icon-orange {
    color: rgb(255, 127, 14);;
}

.icon-green {
    color: rgb(44, 160, 44);
}

.icon-light-blue {
    color: rgb(23, 190, 207);
}

/* HELPERS */

.mdl-card.full-width .mdl-card__supporting-text, .mdl-card.full-width .mdl-card__title, .full-width {
    width: 100%;
}

.light-background {
    background: #f5f5f5;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}


/*.button-link:hover {*/
    /*text-decoration: none;*/
/*}*/

.buttons-toolbar.button-link, .buttons-toolbar button {
    margin-bottom: 15px;
}

.buttons-toolbar {
    margin-top: -30px;
}

.table-trigger {
    cursor: pointer;
}

.table-trigger.disabled, .download-trigger.disabled, .tsa-trigger.disabled {
    pointer-events: none;
    color: #3b8a8a;
}

span.user-info {
    pointer-events: none;
}

.ribbon-content .page-title {
    margin: -40px 0 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    line-height: 24px;
}

.page-title .grid {
    grid-template-columns: auto auto;
}

.ribbon {
    width: 100%;
    height: 40vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.ribbon-none {
    background-color: transparent;
}

.ribbon-blue {
    background-color: #337ab7;
}

.ribbon-green {
    background-color: #62843e;
}

.ribbon-dark {
    background-color: #494949;
}

.ribbon-lightblue {
    background-color: #048a8a;
}

.ribbon-content {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 80px 4vw !important;
    margin-bottom: 80px;
    border-radius: 2px;
}

.ribbon-content:first-child {
     margin-top: -35vh;
}

.ribbon-container {
    padding: 0 15px;
}

/* FOOTER */

.footer {
    margin-left: 0;
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    padding: 1.7% 0 5%;
    bottom: 0;
}

.delete {
    background: #d9534f;
    color:#FFF;
    transition: none;
}

.delete:hover {
    background: linear-gradient(to bottom, #C26865 0, #CB3934 100%) repeat-x;
    border-color: #b92c28;
    color: #fff;
}