{% extends 'equipment_inventory/list.html' %}
{% block list-title %}
    Calibration Actions
{% endblock %}

{% block table-headers %}
    <th class="mdl-data-table__cell--non-numeric">Date</th>
    <th class="mdl-data-table__cell--non-numeric">Serial Number</th>
    <th class="mdl-data-table__cell--non-numeric">Equipment Type</th>
    <th class="mdl-data-table__cell--non-numeric">Manufacturer</th>
    <th class="mdl-data-table__cell--non-numeric d-none d-lg-table-cell">Model Name</th>
{% endblock %}

{% block header-actions %}
    <a href="{% url 'admin:equipment_inventory_instrumentcalibrationaction_add' %}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mb-2 full-width-sm">
        <i class="material-icons center-icon">create</i> Create
    </a>
{% endblock %}

{% block table-rows %}
    {% for calibration in object_list %}
        {% for equipment in calibration.equipment_used.all %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="{% url 'calibration' calibration.pk %}">{{ calibration.begin_datetime }}</a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{ equipment.equipment_serial_number }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ equipment.equipment_type }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ equipment.equipment_model.model_manufacturer }}</td>
                <td class="mdl-data-table__cell--non-numeric d-none d-lg-table-cell">{{ equipment.equipment_model.model_name }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}
