{% extends 'equipment_inventory/list.html' %}
{% block list-title %}
    Equipment Deployments
{% endblock %}

{% block table-headers %}
    <th class="mdl-data-table__cell--non-numeric">Date</th>
    <th class="mdl-data-table__cell--non-numeric">Site Code</th>
    <th class="mdl-data-table__cell--non-numeric">Site Name</th>
    <th class="mdl-data-table__cell--non-numeric">Equipment Serial Number</th>
{% endblock %}

{% block header-actions %}
    <a href="{% url 'admin:equipment_inventory_equipmentdeploymentaction_add' %}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mb-2 full-width-sm">
        <i class="material-icons center-icon">create</i> Create
    </a>
{% endblock %}

{% block table-rows %}
    {% for deployment in deployments %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="{% url 'equipment-deployment-detail' deployment.pk %}">{{ deployment.begin_datetime }}</a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ deployment.parent_site_visit.feature_actions.first.sampling_feature.sampling_feature_code}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ deployment.parent_site_visit.feature_actions.first.sampling_feature.sampling_feature_name }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ deployment.equipment_used.first.equipment_serial_number }}

        </tr>
    {% endfor %}
{% endblock %}