{% extends 'equipment_inventory/list.html' %}
{% block list-title %}
    Instrument Output Variables
{% endblock %}

{% block table-headers %}
    <th class="mdl-data-table__cell--non-numeric">Variable Code</th>
    <th class="mdl-data-table__cell--non-numeric">Variable Name</th>
    <th class="mdl-data-table__cell--non-numeric">Model Name</th>
{#    <th class="mdl-data-table__cell--non-numeric">Method Code</th>#}
{#    <th class="mdl-data-table__cell--non-numeric d-none d-lg-table-cell">Method Name</th>#}
{% endblock %}

{% block header-actions %}
    <a href="{% url 'admin:odm2_instrumentoutputvariable_add' %}"
       class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mb-2 full-width-sm">
        <i class="material-icons center-icon">create</i> Create
    </a>
{% endblock %}

{% block table-rows %}
    {% for variable in object_list %}

    <tr>
        <td class="mdl-data-table__cell--non-numeric">
            <a href="{% url 'instrument-output-variable' variable.pk %}">{{ variable.variable.variable_code }}</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{ variable.variable.variable_name }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ variable.model.model_name }}</td>
{#        <td class="mdl-data-table__cell--non-numeric">{{ variable.instrument_method.method_name }}</td>#}
{#        <td class="mdl-data-table__cell--non-numeric">{{ variable.instrument_method.method_name }}</td>#}
    </tr>

    {% endfor %}
{% endblock %}

{% block table-pagination %}
<tr>
    <td colspan="5" class="mdl-data-table__cell--no-hover">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </td>
</tr>
{% endblock %}
