{% extends 'equipment_inventory/list.html' %}
{% load static %}

{% block list-title %}
    Actions
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'equipment_inventory/css/list.css' %}">
{% endblock %}

{% block table-headers %}
    <th class="mdl-data-table__cell--non-numeric">Date</th>
    <th class="mdl-data-table__cell--non-numeric">Site Code</th>
    <th class="mdl-data-table__cell--non-numeric">Site Name</th>
    <th class="mdl-data-table__cell--non-numeric">Action Type</th>
    <th class="mdl-data-table__cell--non-numeric">Action Description</th>
{% endblock %}

{% block table-rows %}
    {% for action in actions %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="{% url 'admin:equipment_inventory_instrumentcalibrationaction_change' action.pk %}">
                    {{ action.begin_datetime|default:"-" }}
                </a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ action.sampling_feature.sampling_feature_code|default:"-" }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ action.sampling_feature.sampling_feature_name|default:"-"|truncatechars:32 }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ action.action_type|default:"-" }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ action.action_description|default:"-"|truncatechars:32 }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="5">
            <span class="step-links">
            {% if actions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ actions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ actions.number }} of {{ actions.paginator.num_pages }}
            </span>

            {% if actions.has_next %}
                <a href="?page={{ actions.next_page_number }}">next</a>
                <a href="?page={{ actions.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </td>
    </tr>
{% endblock %}