#map {
    height: 100%;
    background: #e8e8e8;
}

.map-container {
    height: 100%;
}

.detail-table th {
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

@media only screen and (min-width: 576px) {
    .detail-table th {
        width: 184px;
    }
}
